# question 1

In [ ]:
# 1. Function with Global and Local Variables
# Write a Python program that defines a global variable total. Create a function
# add_to_total(n) that adds n to total using the global keyword. Also, define a local variable
# local_total inside the function and print both variables.

total=5

def add_to_total(n):
  global total
  total=total+n
  local_total=n

  print(total)
  print(local_total)

add_to_total(10)

# print(total)

15
10

# question 2

In [ ]:
# 2. Function with Global and Local Variables - Bank Balance
# Create a global variable balance = 1000. Write a function withdraw(amount) that reduces the
# balance using the global keyword. Also, declare a local variable withdrawn_amount to store
# the withdrawn value.

balance= 1000 # global

def withdraw(amount):
  global balance
  balance=balance-amount
  local_amount=amount

  print("global balance is :- ", balance)
  print("local-amount is :- ", local_amount)

withdraw(2000)

global balance is :-  -1000
local-amount is :-  2000

# question 3

In [ ]:
# 3. Function with Global and Local Variables - Scope
# Create a function modify_global_var() that tries to change a global variable count inside the
# function without using the global keyword. Print the value of count inside and outside the
# function to observe the behavior.

count=20

def modify_global_var():
  count=10
  print("count inside function is :- ",count) # local

modify_global_var()
print("count outside function is:- ",count) # global

count inside function is :-  10
count outside function is:-  20

# question 4

In [ ]:
# 4. Using enumerate in a List
# Write a function print_items_with_index(items) that takes a list as input and prints each
# item with its index using enumerate().
# Ex:
# Index 0: apple
# Index 1: banana
# Index 2: cherry

def print_items_with_index(lst):
  for index , value in enumerate(lst):
    print(f"index {index} :- {value}")

fruits= ["apple","banana","cherry","orange"]
print_items_with_index(fruits)

index 0 :- apple
index 1 :- banana
index 2 :- cherry
index 3 :- orange

# question 5

In [ ]:
# 5. Using enumerate with a Start Index
# Modify the previous function so that enumerate() starts counting from 1 instead of 0.

def print_items_with_index(lst):
  for index , value in enumerate(lst,start=1):
    print(f"index {index} :- {value}")

fruits= ["apple","banana","cherry","orange"]
print_items_with_index(fruits)

index 1 :- apple
index 2 :- banana
index 3 :- cherry
index 4 :- orange

# question 6

In [ ]:
# 6. Lambda Function for Squaring Numbers
# Write a lambda function square that takes a number as input and returns its square. Use this
# lambda function with the map() function to square all elements in a given list.

square_number = lambda num : num**2

def map_square(lst_numbers):
  return list(map(square_number , lst_numbers))

lst=[1,2,3,4,5]
map_square(lst)

[1, 4, 9, 16, 25]

# question 7

In [ ]:
# 7. Lambda Function for Filtering Even Numbers
# Create a lambda function to filter even numbers from a list using the filter() function.
# Example:
# 7. Lambda Function for Filtering Even Numbers
# Create a lambda function to filter even numbers from a list using the filter() function.
# Example:
# [1, 2, 3, 4, 5, 6] -> [2, 4, 6]

filter_even=lambda num :num % 2 == 0
num_list=[1, 2, 3, 4, 5, 6]
result=list(filter(filter_even,num_list))
print(result)

[2, 4, 6]

# question 8

In [ ]:
# 8. Lambda Function for Reversing a String
# Create a lambda function reverse_string to reverse a given string.


reverse_string=lambda string : string[::-1]
reverse_string("mohamed ahmed ammar")

'ramma demha demahom'

# question 9

In [ ]:
# 9. Create a Simple Class in Python
# Create a class Student with attributes name and age. Then, create an object of the class and print
# the student's details.

class student():
  def __init__(self,name,age):
    self.name=name
    self.age=age

ahmed=student("mohamed",27)
print(ahmed.name)
print(ahmed.age)

mohamed
27

# question 10

In [ ]:
# 10. Class with Methods
# Modify the Student class to include a method get_details() that returns the student’s name
# and age in a formatted string.

class student():
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def get_details(self):
    print("Student",self.name,"is",self.age,"years old.")

mohamed=student("mohamed",27)
mohamed.get_details()

Student mohamed is 27 years old.