# question 1

In [ ]:
"""
1. Write a Pandas program to create and display a one-dimensional array-like object containing  an array of data using Pandas module.

"""
import pandas as pd
data=[10,15,20,12,30]
series=pd.Series(data,index=['a','b','c','d','e'])

print(series)
print(type(series))

a    10
b    15
c    20
d    12
e    30
dtype: int64
<class 'pandas.core.series.Series'>

# question 2

In [ ]:
"""

2. Write a Pandas program to convert a Panda module Series to Python list and it's
type.

"""
print(series)
print(type(series))
print("*" * 100)

lst=list(series)
print(lst)
print(type(lst))
print("*" * 100)

a    10
b    15
c    20
d    12
e    30
dtype: int64
<class 'pandas.core.series.Series'>
****************************************************************************************************
[10, 15, 20, 12, 30]
<class 'list'>
****************************************************************************************************

# question 3

In [ ]:
"""

3. Write a Pandas program to add, subtract, multiple and divide two
Pandas Series.  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

"""
a=[2, 4, 6, 8, 10]
b=[1, 3, 5, 7, 9]

"""

3. Write a Pandas program to add, subtract, multiple and divide two
Pandas Series.  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

"""
import pandas as pd
a=[2, 4, 6, 8, 10]
b=[1, 3, 5, 7, 9]

ser1=pd.Series(a)
ser2=pd.Series(b)
print("series 1 is :- \n", ser1)
print("series 2 is :- \n", ser2)
print("*" * 100)

add_series=ser1+ser2
sub_series=ser1-ser2
mul_series=ser1*ser2
div_series=ser1/ser2

print("addition of series is :- \n", add_series)
print(add_series)
print("*" * 100)
print("subtraction of series is :- \n", sub_series)
print(sub_series)
print("*" * 100)
print("multiplication of series is :- \n", mul_series)
print(mul_series)
print("*" * 100)
print("division of series is :- \n", div_series)
print(div_series)

series 1 is :-
 0     2
1     4
2     6
3     8
4    10
dtype: int64
series 2 is :-
 0    1
1    3
2    5
3    7
4    9
dtype: int64
****************************************************************************************************
addition of series is :-
 0     3
1     7
2    11
3    15
4    19
dtype: int64
0     3
1     7
2    11
3    15
4    19
dtype: int64
****************************************************************************************************
subtraction of series is :-
 0    1
1    1
2    1
3    1
4    1
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
****************************************************************************************************
multiplication of series is :-
 0     2
1    12
2    30
3    56
4    90
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
****************************************************************************************************
division of series is :-
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# question 4

In [ ]:
"""

4. Write a Pandas program to compare the elements of the two
Pandas Series.  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

"""

import pandas as pd
a=[2, 4, 6, 8, 10]
b=[1, 3, 5, 7, 10]

ser1=pd.Series(a)
ser2=pd.Series(b)

print("series 1 is :- \n", ser1)
print("series 2 is :- \n", ser2)
print("*" * 100)

print("ser1=ser2 \n",ser1==ser2)
print("*" * 100)
print("ser1>ser2 \n",ser1>ser2)
print("*" * 100)
print("ser1<ser2 \n",ser1<ser2)

series 1 is :-
 0     2
1     4
2     6
3     8
4    10
dtype: int64
series 2 is :-
 0     1
1     3
2     5
3     7
4    10
dtype: int64
****************************************************************************************************
ser1=ser2
 0    False
1    False
2    False
3    False
4     True
dtype: bool
****************************************************************************************************
ser1>ser2
 0     True
1     True
2     True
3     True
4    False
dtype: bool
****************************************************************************************************
ser1<ser2
 0    False
1    False
2    False
3    False
4    False
dtype: bool

# question 5

In [ ]:
"""
5. Write a Pandas program to convert a dictionary to a Pandas series.

"""

my_dict={"name":"mohamed","age":27 , "address":"Alexandria" ,"job":"Ai engineer"}
print(my_dict)
print(type(my_dict))
print("*" * 100)

my_series=pd.Series(my_dict)
print(my_series)
print(type(my_series))
print("*" * 100)

{'name': 'mohamed', 'age': 27, 'address': 'Alexandria', 'job': 'Ai engineer'}
<class 'dict'>
****************************************************************************************************
name           mohamed
age                 27
address     Alexandria
job        Ai engineer
dtype: object
<class 'pandas.core.series.Series'>
****************************************************************************************************

# question 6

In [ ]:

"""

6. Write a Pandas program to get the index of an element of a given Series.

"""

a=[2, 4, 6, 8, 10]

ser=pd.Series(a)
ind=ser.loc[ser==10]
print(ind)

4    10
dtype: int64

# question 7

In [ ]:
"""
7. Write a Pandas program to select rows by filtering on one or more column(s) in a
multi-index  dataframe.

"""


# Create a multi-index DataFrame
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame({'A': [1, 2, 3, 4, 5, 6, 7, 8],
                   'B': [4, 5, 6, 7, 8, 9, 10, 11]},
                  index=index)

print(df)
print("*" * 50)


filtered_df = df[df['A'] == 4]


filtered_df['A'] *= 10

print(filtered_df)

print("*" * 50)

              A   B
first second
bar   one     1   4
      two     2   5
baz   one     3   6
      two     4   7
foo   one     5   8
      two     6   9
qux   one     7  10
      two     8  11
**************************************************
               A  B
first second
baz   two     40  7
**************************************************

<ipython-input-71-77086a3424af>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['A'] *= 10

# question 8

In [ ]:
"""
8. Write a Pandas program to insert a column at a specific index in a given DataFrame.

"""

data={"name":["mohamed","ahmed","ammar"],"age":[20,13,35]}
df=pd.DataFrame(data)

print(df)
print("*" * 50)

df_address=df
df_address.insert(1,"address",["alex","tanta","cairi"])
print(df_address)

      name  age
0  mohamed   20
1    ahmed   13
2    ammar   35
**************************************************
      name address  age
0  mohamed    alex   20
1    ahmed   tanta   13
2    ammar   cairi   35

# question 9

In [ ]:
"""

9. Write a Pandas program to create a dataframe from a dictionary and
display it  Sample data: {'X':[78,85,96,80,86],
'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}.

"""

data={'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

df=pd.DataFrame(data)

print(df)
print(type(df))

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83
<class 'pandas.core.frame.DataFrame'>

# question 10

In [ ]:
"""

10. Write a Pandas program to add one row in an existing DataFrame.
Sample data:

"""

data={"name":["mohamed","ahmed","ammar"],"age":[20,13,35]}
df=pd.DataFrame(data)

print(df)
print("*" * 50)

df.loc[3]=["ali",50]
print(df)

      name  age
0  mohamed   20
1    ahmed   13
2    ammar   35
**************************************************
      name  age
0  mohamed   20
1    ahmed   13
2    ammar   35
3      ali   50